<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002872122808-mqe9799cr2l20k3l8oc8g7u1rcntg784.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002872122808-mqe9799cr2l20k3l8oc8g7u1rcntg784</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002872122808-jkemf3uf2adoh2npiql3q60pevm7es4h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkEBnl4zVTDAtas7mv91rfO-Hmfy9I5tw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002872122808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocketdevs.spenza</string>
	<key>PROJECT_ID</key>
	<string>spenza-recipe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spenza-recipe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002872122808:ios:d16d47c80b6f9948ad334d</string>
</dict>
</plist>